*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.pdb
*.obj
*.log
*.tlog
*.ipdb
*.iobj
*.exe
*.opendb
*.db
*.idb
*.ilk
*.opensdf
*.sdf
*.suo
Puzzle Constructor Algorothims/humanoidsFinal/assemble/Edge Edge In Out.jpg
Puzzle Constructor Algorothims/PuzzleSolver/puzzle.cpp
Puzzle Constructor Algorothims/PuzzleSolver/TestOpenCVI.vcxproj
Puzzle Constructor Algorothims/PuzzleSolver/TestOpenCVI.vcxproj
Puzzle Constructor Algorothims/PuzzleSolver/TestOpenCVI.vcxproj
